In [9]:
price1 = 100
price2 = 200
tax = 1.1
def total():
    return price1 + price2

print (total()* tax)

330.0

In [10]:
class Product:
  def __init__(self):
    self.name = ""

shampoo = Product()

shampoo.name = "シャンプー"

print(shampoo.name)

シャンプー

In [1]:
class Product:
  def __init__(self):
    self.name = ""

  def set_name(self, name):
    self.name = name

  def show_name(self):
    print(self.name)

coffee = Product()

coffee.set_name("コーヒー")

coffee.show_name()

コーヒー

In [2]:
class User:

  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender

user = User("侍太郎", 36, "男性")

print(user.name)
print(user.age)
print(user.gender)

侍太郎
36
男性

In [7]:
class Human:

  def __init__(self, name, age):
    self.name = name
    self.age = age

  def printinfo(self):
    print(f"名前: {self.name}")
    print(f"年齢: {self.age}")

human = Human("侍太郎", 36)

human.printinfo()

名前: 侍太郎
年齢: 36