In [ ]:
price1 = 100
price2 = 200
tax = 1.1
def total():
    return price1 + price2

print (total()* tax)

330.0

In [ ]:
class Product:
  def __init__(self):
    self.name = ""

shampoo = Product()

shampoo.name = "シャンプー"

print(shampoo.name)

シャンプー

In [ ]:
class Product:
  def __init__(self):
    self.name = ""

  def set_name(self, name):
    self.name = name

  def show_name(self):
    print(self.name)

coffee = Product()

coffee.set_name("コーヒー")

coffee.show_name()

コーヒー

In [ ]:
class User:

  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender

user = User("侍太郎", 36, "男性")

print(user.name)
print(user.age)
print(user.gender)

侍太郎
36
男性

In [ ]:
class Human:

  def __init__(self, name, age):
    self.name = name
    self.age = age

  def printinfo(self):
    print(f"名前: {self.name}")
    print(f"年齢: {self.age}")

human = Human("侍太郎", 36)

human.printinfo()

名前: 侍太郎
年齢: 36

In [ ]:
!rm /etc/localtime
!ln -s /usr/share/zoneinfo/Asia/Tokyo/etc/localtime
!date

rm: cannot remove '/etc/localtime': No such file or directory
ln: failed to create symbolic link './localtime': File exists
Wed Oct 29 07:55:12 AM UTC 2025

In [ ]:
import time

print(time.strftime("%Y年%m月%d日%H時%M分%S秒", time.localtime()))

2025年10月29日07時57分46秒

In [ ]:
import time

print(time.time())

1761724845.3373256

In [1]:
import time

print(time.strftime("%Y年%m月%d日%H時%M分%S秒", time.localtime()))

2025年10月30日00時10分18秒

In [2]:
time.time()

1761783070.8109124

In [3]:
# timeモジュールをインポート
import time

# 現在時刻をUNIXタイムスタンプで取得
print(time.time())

1761783084.7818263

In [5]:
# datetimeモジュールをインポート
import datetime

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

# 取得した日付date_timeの日時を特定のフォーマットで出力する
print(date_time.strftime("%Y年%m月%d日%H時%M分%S秒"))

2015年03月19日12時15分30秒

In [6]:
# datetimeモジュールをインポート
import datetime

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

print(date_time)

# 年,月,日,時,分,秒だけをそれぞれ取り出すことも可能です
print(date_time.year)
print(date_time.month)
print(date_time.day)
print(date_time.hour)
print(date_time.minute)
print(date_time.second)

2015-03-19 12:15:30
2015
3
19
12
15
30

In [7]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

# 2つのdatetimeの差を取得し、変数intervalに代入する（interval＝間隔）
interval = now - date_time

# 取得した日時の差を特定のフォーマットで出力する
print(f"総日数は{interval.days}日です。")

総日数は3877日です。

In [8]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2001-08-06 12:15:30", "%Y-%m-%d %H:%M:%S")

# 2つのdatetimeの差を取得し、変数intervalに代入する（interval＝間隔）
interval = now - date_time

# 取得した日時の差を特定のフォーマットで出力する
print(f"総日数は{interval.days}日です。")

総日数は8850日です。

In [9]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 1年間の日数差を変数td_1yに代入する
td_1y = datetime.timedelta(days=365)

# 現在の日時に1年を加算し、変数addに代入する
add = now + td_1y

# 3日間の日数差を変数td_3dに代入する
td_3d = datetime.timedelta(days=3)

# 現在の日時から3日を減算し、変数subに代入する（sub＝「減算」を意味するsubtractionの略）
sub = now - td_3d

# 加算・減算した日時を特定のフォーマットで出力する
print(add.strftime("現在から1年後は%Y年%m月%d日%H時%M分%S秒です。"))
print(sub.strftime("現在から3日前は%Y年%m月%d日%H時%M分%S秒です。"))

現在から1年後は2026年10月30日00時24分44秒です。
現在から3日前は2025年10月27日00時24分44秒です。

In [11]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def check_adult(self):
        if self.age >= 20:
            print(f"{self.name}さんは大人です。")
        else:
            print(f"{self.name}さんは大人ではありません。")


human_list = [
    Human("たろう", 18),
    Human("はなこ", 22),
    Human("けん", 15),
    Human("ゆみ", 30)
]

for person in human_list:
    person.check_adult()

たろうさんは大人ではありません。
はなこさんは大人です。
けんさんは大人ではありません。
ゆみさんは大人です。